<html>
	<head>
		<title> Add User </title>
	</head>
	<body>
		<form action = "addUser", method = "post">
			<table>
				<tr>
					<td><label for = "username"> Username: </label></td>
					<td><input type = "text" name = "username"/></td>
				</tr>
				<tr>
					<td><label for = "email"> Email: </label></td>
					<td><input type = "text" name = "email"/></td>
				</tr>
				<tr>
					<td><label for = "isSuperUser"> Is Super User: </label></td>
					<td><input type = "checkbox" name = "isSuperUser"/></td>
				</tr>
				<tr>
					<td></td>
					<td><input type = "submit" value = "Add User"/></td>
				</tr>
			</table>
		</form>
	</body>
</html>
