<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BYP - Homepage</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
  </head>
  <body>
    <!-- Section for the news -->
    <div class="container mt-5">
      <h2 class="text-center">Latest News</h2>
      <div class="row">
        <div class = "card"> 
          <div class = "card-body"> 
            <h5 class = "card-title">Batteries</h5> 
            <p class = "card-text"> Display all Batteries</p> 
            <a th:href = "@{\batteries}" class = "btn btn-primary"> Show </a> 
          </div>
        </div> 
      </div> 
      <div class = "card"> 
        <div class = "card-body"> 
          <h5 class = "card-title">Stations</h5> 
          <p class = "card-text"> Display all Stations</p> 
          <a th:href = "@{\stations}" class ="btn btn-primary"> Show </a> 
        </div> 
      </div> 
    </div>
  </body>
</html>

