<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Battery Table </title>
	</head>
	<body>
		<div class = "row col-mid-10">
			<h2> List of Batteries </h2>
		</div>
		<table class = "table table-bordered table-hover">
			<thead class = "table-dark">
				<tr>
					<th> Battery ID </th>
					<th> Battery Battery status </th>
					<th> Battery voltage </th>
					<th> Battery temperature </th>
					<th> Station ID </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "battery : ${batteries}">
					<td th:text = "${battery.id}"></td>
					<td th:text = "${battery.status}"></td>
					<td th:text = "${battery.voltage}"></td>
					<td th:text = "${battery.temperature}"></td>
					<td th:text = "${battery.station.id}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
