<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Battery Table </title>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
		<script src = "https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	</head>
	<body>
		<div class = "row col-mid-10">
			<h2> List of Batteries </h2>
		</div>
		<table class = "table table-bordered table-hover">
			<thead class = "table-dark">
				<tr>
					<th> Battery ID </th>
					<th> Battery Battery status </th>
					<th> Battery voltage </th>
					<th> Battery temperature </th>
					<th> Station ID </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "battery : ${batteries}">
					<td th:text = "${battery.id}"></td>
					<td th:text = "${battery.status}"></td>
					<td th:text = "${battery.voltage}"></td>
					<td th:text = "${battery.temperature}"></td>
					<td th:text = "${battery.station.id}"></td>
				</tr>
			</tbody>
		</table>
		<script>
			var socket = new SockJS('/ws');
			var stompClient = Stomp.over(socket);

			stompClient.connect({}, function(frame) {
				stompClient.subscribe('/topic/batteryStatus', function(message) {
					if(message.body == 'reload') {
						location.reload();
					}
				});
			});
		</script>
	</body>
</html>
