<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build Your Power - User Registration</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  </head>
  <body>
      <div>
        <h1>Sign Up</h1>
        <form th:action="@{/signup}" th:object="${user}" method="post">
            <div>
              <label for="email">Email:</label>
              <input type="email" id="email" th:field="*{email}" required minlength="11" maxlength="45" />
            </div>
            <div>
              <label for="username">Username:</label>
              <input type="text" id="username" th:field="*{username}" required minlength="2" maxlength="20" />
            </div>
            <div>
              <label for="password">Password:</label>
              <input type="password" id="password" th:field="*{password}" required minlength="10" maxlength="64" />
            </div>
            <div>
              <label for="firstName">First Name:</label>
              <input type="text" id="firstName" th:field="*{firstName}" required minlength="2" maxlength="20" />
            </div>
            <div>
              <label for="lastName">Last Name:</label>
              <input type="text" id="lastName" th:field="*{lastName}" required minlength="2" maxlength="20" />
            </div>
            <div>
              <button type="submit">Sign Up</button>
            </div>
        </form>
      </div>
  </body>
</html>
