<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Station Table </title>
		<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<h2> List of Stations </h2>	
		<table class = "table table-bordered table-hover">
			<thead class = "table-dark">
				<tr>
					<th> Station ID </th>
					<th> Station Location </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each = "station : ${stations}">
					<td th:text = "${station.id}"></td>
					<td th:text = "${station.location}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
